* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    text-decoration: none;
}
#geral {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
.slideshow {
    float: left;
    width: 400px;
    height: 300px;
    padding: 0 50px;
    position: relative;
}
.content-slideshow {
    width: 400px;
    height: 300px;
    overflow: hidden;
}
.content-slideshow ul {
    width: 5000px;
    height: 100%;
    float: left;
    -webkit-transition: margin 0.3s;
}
.content-slideshow ul li {
    background: red;
    width: 400px;
    height: 100%;
    float: left;
}
.content-slideshow ul li:nth-child(2) {background: green;}
.content-slideshow ul li:nth-child(3) {background: pink;}
.content-slideshow ul li:nth-child(4) {background: gray;}
.arrow {
    background: #000;
    display: block;
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    cursor: pointer;
}
.arrow.prev {
    left: 0;
}
.arrow.next {
    right: 0;
}
.thumbnails {
    float: right;
    width: 390px;
    overflow: hidden;
}
.content-thumbnails>ul {
    display: none;
    width: 400px;
}
.content-thumbnails>ul.active {
    display: block;
}
.content-thumbnails>ul>li {
    background: blue;
    float: left;
    width: 90px;
    height: 90px;
    margin: 0 10px 10px 0;
}
.content-thumbnails>ul>li:nth-child(even) {
    background: pink;
}